<!DOCTYPE html>
<html>
    <head>
        <title>CSS introdution</title>
        <style>
            h1 {
                color :rgb(168, 135, 222);
                font-size: 100px;
                font-family: Arial, Helvetica, sans-serif;
            }
            h2{
                color: rgb(151, 135, 222);
                font-size: 100px;
                font-family: Arial, Helvetica, sans-serif;
            }
            .lets{
                color: aquamarine;
            }
          .headerthree{
            color: azure;
          }
          #idselector{
            color: antiquewhite;
            font-size: 100px;
          }
          body{
            background-color: black;
            background-image: url('C:\\Users\\Master\\Desktop\\sss\\11111111111111111\\301-600\\FILE512.JPG');
            background-size: cover;
          }
          .padding{
            padding: 100px 200px;
            padding-right: 50px;
            border: 5px solid purple; 
            margin: 100px;
           }
           .rect{
            border: 5px solid red;
            height: 100px;
            width: 200px;
           }
           </style>
           

         

                  
     </head>
     <body>
    
       <div class="rect"></div>
       <h1 class="padding">CSS - Selector syntax</h1> 
       <h2>Element Selector</h2>
       <h1 class="lets">Lets apply specific css</h1>
       <h1 class="headerthree">apply class selector</h1>
       <div id="idselector">ID Selector</div>
            
    </body>


</html>